---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description: string;
	keywords: string;
}

const { description, title, keywords } = Astro.props;
const imgUrl = "https://maxiv95.github.io/dance-academy/images/banner.webp";
const baseUrl = "https://www.salsaencordoba.com.ar/";
const fbAppId = "0";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="title" property="og:title" content={title} />
		<meta name="description" property="og:description" content={description} />
		<meta name="image" property="og:image" content={imgUrl} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={`${baseUrl}`} />
		<meta property="fb:app_id" content={`${fbAppId}`} />
		<meta property="fb:admins" content={`${fbAppId}`} />
		<meta name="author" content="Maximiliano Van Megroot" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<meta name="language" content="es-AR" />
		<meta name="geo.region" content="AR" />
		<meta name="geo.placename" content="Córdoba" />
		<meta name="geo.position" content="-31.421361, -64.189472" />
		<meta name="ICBM" content="-31.421361, -64.189472" />
		<meta name="keywords" content={keywords} />
		<meta name="robots" content="index, follow" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet" />
		<ViewTransitions />
	</head>
	<body class="relative text-white">
		<div
			class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(0,0,255,0.4),rgba(0,0,255,0.09))]"
		>
		</div>
		<Header />

		<slot />

		<style is:global>
			:root {
				color-scheme: dark light;
			}
			html {
				font-family: "Onest Variable", system-ui, sans-serif;
				scroll-behavior: smooth;
			}
			body {
				font-family: "Lora", serif;
				font-optical-sizing: auto;
				font-weight: 400;
				font-style: normal;
				display: flex;
				flex-direction: column;
				min-height: 100vh;
			}
			h1,
			h2,
			h3,
			h4 {
				text-wrap: balance;
			}
			p {
				text-wrap: pretty;
				line-height: 1.1rem;
			}
			@media (prefers-reduced-motion: reduce) {
				html {
					scroll-behavior: auto;
				}
			}

			.animate {
				view-timeline-name: --section;
				view-timeline: block;
				animation-timeline: --section;
				animation-name: show;
				animation-range: 5% cover 30%;
				animation-fill-mode: both;
				transition:
					opacity 2s linear,
					transform 2s linear;
			}
			@keyframes show {
				from {
					opacity: 0;
					scale: 50%;
				}
				to {
					opacity: 1;
					transform: 100%;
				}
			}
		</style>
	</body>
</html>
