---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description: string;
	keywords: string;
}

const { description, title, keywords } = Astro.props;
const imgUrl = "https://maxiv95.github.io/dance-academy/images/banner.webp";
// const baseUrl = "https://www.salsaencordoba.com.ar/";
const baseUrl = "https://maxiv95.github.io/dance-academy/";
const canonicalUrl = "https://maxiv95.github.io/dance-academy/";
const fbAppId = "0";
// const fontUrl = "https://maxiv95.github.io/dance-academy/fonts/TROGLOP_.ttf";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>

		<!-- Meta-etiquetas para SEO -->
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="language" content="es-AR" />
		<meta name="robots" content="index, follow" />

		<!-- Meta-etiqueta Canonical -->
		<link rel="canonical" href={canonicalUrl} />

		<!-- Meta-etiquetas Open Graph para redes sociales -->
		<meta property="fb:admins" content={fbAppId} />
		<meta property="fb:app_id" content={fbAppId} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={imgUrl} />
		<meta property="og:locale" content="es_AR" />
		<meta property="og:site_name" content={title} />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={baseUrl} />

		<!-- Metadatos geográficos -->
		<meta name="geo.region" content="AR" />
		<meta name="geo.placename" content="Córdoba" />
		<meta name="geo.position" content="-31.421361, -64.189472" />
		<meta name="ICBM" content="-31.421361, -64.189472" />

		<!-- Información adicional -->
		<meta name="author" content="Maximiliano Van Megroot" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />

		<!-- Fuentes -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lora&display=swap"
			rel="stylesheet"
		/>

		<meta
			name="google-site-verification"
			content="Pw594qDKAiBdRXrcHRW7nV-SgdZ_IjdzfGNbRSDsMXk"
		/>

		<ViewTransitions />
	</head>
	<body class="relative text-white">
		<div
			class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-950 bg-[url('https://maxiv95.github.io/dance-academy/images/Designer.jpeg')] bg-cover bg-center"
		>
		</div>

		<Header />

		<slot />

		<style is:global>
			:root {
				color-scheme: dark light;
			}
			html {
				font-family: "Onest Variable", system-ui, sans-serif;
				scroll-behavior: smooth;
			}
			body {
				font-family: "Lora", serif;
				font-optical-sizing: auto;
				font-weight: 400;
				font-style: normal;
				display: flex;
				flex-direction: column;
				min-height: 100vh;
			}
			h1,
			h2,
			h3,
			h4 {
				text-wrap: balance;
			}
			p {
				text-wrap: pretty;
				line-height: 1.1rem;
			}
			.fontOnest {
				font-family: "Onest Variable", system-ui, sans-serifs;
			}
			@media (prefers-reduced-motion: reduce) {
				html {
					scroll-behavior: auto;
				}
			}

			@font-face {
				font-family: "TrogloP";
				src: url("https://maxiv95.github.io/dance-academy/fonts/TROGLOP_.ttf")
					format("truetype");
				font-weight: normal;
				font-style: normal;
			}
			.troglo-title {
				font-family: "TrogloP", sans-serif;
				color: #000; /* Color del texto negro */
				text-shadow:
					0 0 3px #ff0,
					0 0 4px #ff0,
					0 0 5px #ff0;
			}

			.animate {
				view-timeline-name: --section;
				view-timeline: block;
				animation-timeline: --section;
				animation-name: show;
				animation-range: 5% cover 30%;
				animation-fill-mode: both;
				transition:
					opacity 2s linear,
					transform 2s linear;
			}
			@keyframes show {
				from {
					opacity: 0;
					scale: 50%;
				}
				to {
					opacity: 1;
					transform: 100%;
				}
			}
		</style>
	</body>
</html>
